[Unit]
Description=dwhois-worker
After=network.target remote-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/dwhois-worker
ExecStop=/bin/kill ${MAINPID}
PrivateTmp=true

[Install]
WantedBy=multi-user.target
